.row
  .small-12.columns
    %h1 Hausbar anlegen
    %p
      Du möchtest Dir eine eigene Hausbar anlegen und weißt nicht wo Du anfangen sollst? Unsere Community hat hier eine
      Liste als Einstiegspunkt für den nächsten Einkauf im Supermarkt oder Online-Shop zusammengestellt.
    %p
      Die folgenden Zutaten halten wir für die wichtigsten Bestandteile einer Hausbar. Wir schlagen hier einige Marken vor,
      die wir persönlich nach eigenen und berichteten Erfahrungen für qualitativ geeignet halten.
    %p
      Die Preisangaben sind Richtwerte, die bei der Erstellung der Liste aktuell waren und inzwischen vielleicht abweichen.
    %p
      Du vermisst Deine Lieblingszutat? Oder einer der Preise hier ist total veraltet? Dieser
      = link_to 'Forumbeitrag', '/cocktailforum/thema/der-hausbar-thread'
      ist die richtige Stelle, um darüber zu diskutieren. Wir freuen uns über dein Feedback.

    %table
      %tr
        %th Zutat
        %th Marke
        %th Menge
        %th Preis

      %tr
        %td Rum weiss
        %td El Dorado White
        %td 0,7l
        %td 10 €
      %tr
        %td
        %td Havana Club Añejo Blanco
        %td 0,7l
        %td 12 €
      %tr
        %td
        %td Wray & Nephew White
        %td 0,7l
        %td 12 €

      %tr
        %td Rum braun
        %td Robinson Cask Velvety
        %td 0,7l
        %td 12 €
      %tr
        %td
        %td Ron Siboney Reserva Especial
        %td 0,7l
        %td 14 €
      %tr
        %td
        %td Flor de Cana Black Label
        %td 0,7l
        %td 15 €

      %tr
        %td Cachaça
        %td Sagatiba Pura
        %td 0,7l
        %td 13 €
      %tr
        %td
        %td Velho Barreiro Silver
        %td 0,7l
        %td 12 €
      %tr
        %td
        %td Velho Barreiro Gold
        %td 0,7l
        %td 14 €

      %tr
        %td Whiskey
        %td Tullamore Dew Irish
        %td 0,7l
        %td 17 €
      %tr
        %td
        %td Jameson Irish
        %td 0,7l
        %td 17 €
      %tr
        %td
        %td Jim Beam Bourbon
        %td 0,7l
        %td 18 €
      %tr
        %td
        %td Jim Beam Rye
        %td 0,7l
        %td 17 €

      %tr
        %td Brandy
        %td Osborne 103
        %td 0,7l
        %td 12 €
      %tr
        %td
        %td Osborne Veterano
        %td 0,7l
        %td 13 €

      %tr
        %td Wodka
        %td Russian Standard
        %td 0,7l
        %td 10 €
      %tr
        %td
        %td Smirnoff
        %td 0,7l
        %td 11 €
      %tr
        %td
        %td Wyborowa
        %td 0,7l
        %td 12 €

      %tr
        %td Gin
        %td Finsbury Platinum 47%
        %td 0,7l
        %td 12 €
      %tr
        %td
        %td Tanqueray London Dry 47%
        %td 0,7l
        %td 15 €
      %tr
        %td
        %td Beefeater London Dry 47%
        %td 0,7l
        %td 17 €

      %tr
        %td Tequila
        %td el Jimador Blanco
        %td 0,7l
        %td 17 €
      %tr
        %td
        %td Sauza Hornitos Reposado
        %td 0,7l
        %td 20 €
      %tr
        %td
        %td Jose Cuervo Traditional
        %td 0,7l
        %td 20 €

      %tr
        %td Blue Curacao
        %td Marie Brizard
        %td 0,7l
        %td 12 €
      %tr
        %td Triple Sec
        %td Marie Brizard triple sec
        %td 0,7l
        %td 12 €
      %tr
        %td
        %td Cointreau
        %td 0,7l
        %td 15 €
      %tr
        %td Maraschinolikör
        %td Luxardo
        %td 0,7l
        %td 17 €
      %tr
        %td Kirschlikör
        %td Cherry Heering
        %td 0,7l
        %td 17 €
      %tr
        %td Grenadine
        %td Riemerschmid
        %td 0,7l
        %td 6 €
      %tr
        %td Rohrzuckersirup
        %td Riemerschmid
        %td 0,7l
        %td 5 €
      %tr
        %td
        %td Monin
        %td 0,7l
        %td 5 €
      %tr
        %td Kokosnusscreme
        %td Cream of Coconut (Dose)
        %td 400g
        %td 4 €
      %tr
        %td Orangensaft
        %td Bio-Orangen
        %td 1kg
        %td 2 €
      %tr
        %td Ananassaft
        %td Ananasdirektsaft
        %td 1l
        %td 1,60 €
      %tr
        %td Maracujanektar
        %td Maracujanektar
        %td 1l
        %td 1,60 €
      %tr
        %td Zitronensaft
        %td Bio-Zitronen
        %td 1kg
        %td 2,50 €
      %tr
        %td Limettensaft
        %td Bio-Limetten
        %td Stück
        %td 0,50 €
      %tr
        %td Cola
        %td Afri / Sinalco / Coca
        %td 1l
        %td 1 €
      %tr
        %td Soda
        %td Mineralwasser
        %td 1l
        %td 0,50 €
      %tr
        %td Sahne
        %td Schlagsahne / süße Sahne (Becher)
        %td 200g
        %td 0,50 €


