<div class="row">
  <div class="small-12 columns">
    <h2>Impressum</h2>

    <p>Cocktailscout ist ein privates Projekt, das betrieben wird von:<br />
      <br />
      Pawel Cofta<br />
      Mandelstr. 4<br />
      10409 Berlin<br />
      <br />
      Dario Sait<br />
      Cantianstr. 1<br />
      10437 Berlin<br />
      <br />
      Sie erreichen uns bei Fragen technischer oder inhaltlicher Art postalisch über die oben genannten Adressen oder auf dem elektronischen Weg über die Emailadresse: webmaster@cocktailscout.de.
  </div>
</div>
