<div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
  <div class="lg:col-span-2">
    <script>window.activityStream = <%= raw @activity_stream.to_json %>;</script>
    <div class="card">
      <div class="card-header">Aktivitäten</div>
      <div class="card-body">
        <activity-stream></activity-stream>
      </div>
    </div>
  </div>

  <%# Sidebar %>
  <div class="lg:col-span-1 space-y-8">
     <div class="card">
        <div class="card-header">
          Gerade aktive User
        </div>
        <img src="/images/community_user.jpg" alt="Aktive Benutzer" class="w-full h-48 object-cover">
        <div class="card-body">
          <online-users :initial-users='<%= @online_users.map { |u| { id: u.id, username: u.username, rank: u.rank } }.to_json %>'></online-users>
        </div>
     </div>
  </div>
</div>
