// Place all the styles related to the Recipe controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.recipe_favorite {
  color: white;
  text-shadow: -1px 0 grey, 0 1px grey, 1px 0 grey, 0 -1px grey;
  font-size: 2em;
}

.recipe_favorite.faved {
  color: #990000;
}

.recipe_favorite:hover {
  cursor: pointer; cursor: hand;
  color: rgba(255, 150, 164, 0.53);
}