<footer class="bg-gray-900 text-gray-300 py-2 mt-8 border-t border-gray-800">
  <div class="container mx-auto px-4">
    <div class="flex justify-center space-x-6 text-sm">
      <%= link_to "Impressum", impressum_path, class: "hover:text-white transition-colors" %>
      <%= link_to "Datenschutz", datenschutz_path, class: "hover:text-white transition-colors" %>
    </div>
  </div>
</footer>
