<div id="secondary-nav" class="bg-black text-cs-gold py-1 text-sm">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <!-- Left: Breadcrumbs (Placeholder) -->
    <div class="text-gray-500">
      Startseite
    </div>

    <!-- Right: Register/Login -->
    <div class="flex space-x-4">
      <% if authenticated? %>
        <span>Willkommen, <%= Current.user.username %></span>
        <%= button_to "Logout", session_path, method: :delete, class: "hover:underline bg-transparent border-0 p-0 text-cs-gold cursor-pointer" %>
      <% else %>
        <%= link_to "Login", new_session_path, class: "hover:underline" %>
        <%= link_to "Registrieren", new_registration_path, class: "hover:underline" %>
      <% end %>
    </div>
  </div>
</div>
