<div id="secondary-nav" class="bg-black text-cs-gold py-1 text-sm">
  <div class="container mx-auto px-4 flex flex-col sm:flex-row justify-between items-start sm:items-center gap-1 sm:gap-0">
    <!-- Left: Breadcrumbs -->
    <div class="text-gray-500 text-xs sm:text-sm">
      <%= render_breadcrumbs %>
    </div>

    <!-- Right: Register/Login -->
    <div class="self-end sm:self-auto">
      <user-session></user-session>
    </div>
  </div>
</div>
