<div id="secondary-nav" class="bg-black text-cs-gold py-1 text-sm">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <!-- Left: Breadcrumbs (Placeholder) -->
    <div class="text-gray-500">
      Startseite
    </div>

    <!-- Right: Register/Login -->
    <user-session></user-session>
  </div>
</div>
